.grid {
    margin: 0 auto;
}

.grid-item {
    border-radius: 5px;
    background: #EEE;
    padding: 5px;
    margin: 10px;
}

.grid-sizer, .grid-item {
    width: 18%;
}

.grid-item--width2 {
    width: 36%;
}